.grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: A2F933;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

html, body {
  background-color: #ffeead;
  margin: 10px;
}

.grid > div:nth-child(1n) {
  background-color: #96ceb4;
}

.grid > div:nth-child(3n) {
  background-color: #88d8b0;
}

.grid > div:nth-child(2n) {
      background-color: #ff6f69;
}

.grid > div:nth-child(4n) {
      background-color: #ffcc5c;
}

.nav-ul > div {
  font-size: 14px;
  list-style-type: none;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
