.grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: 000000;
}

html, body {
  background-color: #ffeead;
  margin: 10px;
}

.grid > div:nth-child(1n) {
  background-color: #96ceb4;
}

.grid > div:nth-child(3n) {
  background-color: #88d8b0;
}

.grid > div:nth-child(2n) {
      background-color: #ff6f69;
}

.grid > div:nth-child(4n) {
      background-color: #ffcc5c;
}

.nav-ul > div {
  font-size: 14px;
  list-style-type: none;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  width: 100%;
}

.nav > li > a {
  font-color: #000000;
  font-family: sans-serif;
  position: relative;
  display: block;
  padding: 10px 15px;

p {
  font-color: #000000;
  font-family: sans-serif;
}
h2{
  font-color: #000000;
  font-family: sans-serif;  
}
