.nav-ul{
  font-size: 14px;
  list-style-type: none;
  position: relative;
  top: auto;
  margin: auto;
  padding: inherit;
  overflow: hidden;
  width: 100%;
  background-color: A2F933;
}
.nav-li{

}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400, 1fr));
  grid-auto-rows: min-max(200px, 1fr);
  grid-auto-flow: dense;
}
