*,
*::before
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary: @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Montserrat&display=swap');
    --ff-secondary: @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #E9EAE0;
    --clr-dark: #C85250;
    --clr-accent:#F7BEC0;
    --clr-vogue: #E7625F;
    --clr-ul: #dcdcd0;
    --clr-h3: #4b2221;

    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2rem;
    --fs-p: 1.25rem;
    --fs-li: 1.5rem;


}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/*general styles*/

body {
    background: var(--clr-light);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--fs-secondary);
    font-size: var(--fs-body);
    line-height: 1.6;

}
@media (min-width: 800px) {
    .section {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }

    .section + .section {
        margin-left: 2em;
    }
}

@media (min-width: 600px) {
  body {
    flex-wrap: nowrap;
  }

  section {
    flex-basis: 33%;
  }
}


section {
    padding: 2em 2em;
    margin: 0 auto;
    background-color: var(--clr-light);
}

@media::section(min-width: 800px) {
    padding: 5em 2em;
    background-color: rgb(150, 0, 100);
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

img {
    border-radius: 50%
    display: block;
    max-width: 100%;
}
footer {
  color: rgb(80), 0, 20);
}



/*Typography*/


h1,
h2,
h3, {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 {
  font-size: var(--fs-h2);
  color: var(--clr-vogue);
 }
h3 { 
  font-size: var(--fs-h3);
  color: var(--clr-h3)
}

.headings {
  color: var(--clr-dark);
  font-size: var(--fs-h2);
  position: relative;
}
.nav-ul {
  float:left;
  text-align: center;
}
li {
  font-size: var(--fs-li);
}
nav {
  font-size: var(--fs-li);
}

p {
  font-size: var(--fs-p);
  color: #160d0d;
  position: relative;
}

/*Typography*/

/*menu*/
.nav-bar {
  padding: 0px 0px;
  display: inline-block;
  min-width: 100%;
  background-color:var(--clr-light);
  position: fixed;
}

.nav-li {
  min-width: 0.5rem;
  display: inline;
  float: left;
  text-align: center;
  margin: 0px 5px 0px 5px;
  padding: 5px 30px 5px 30px ;
  font-size: 1.25em;
  font-weight: var(--fw-bold);
  background-color: var(--clr-accent)
  
}

.nav-li:hover {
  transform: scale(1.1);
}

.nav-ul {
  display: inline-block;
  float:left;
  padding: .5em 1.5em;
  min-width: 100%;
  background: var(--clr-ul);
  color: var(--clr-ul);
  text-decoration: none;
  text-decoration-color: var(--clr-dark);
  cursor: pointer;
  font: var(--ff-primary);
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  margin: 0.5em 1em;
  }

  .nav-contact:hover {
      transform: scale(1.1);
  }
  /*menu*/
/*grid layout*/
.flexbox {
  display: flex;
  justify-content: space-between;
  align-content: space-between;

}
.section {
  flex-basis: 33%;
  margin: 1.25em;
  height: 5em;
}
@media: (max-width: 600px) {
  flex-basis: 100%;
  flex-wrap: wrap;
  display
}
/*grid layout*/

/*profile picture section*/
* {box-sizing: border-box;}

.profile {
  align-items: center;
}

/*.about-ov{
  position: relative;
  width: 100%;
  max-width: 400px;
}*/

.image {
  grid-area: img;
  min-width: 250px;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  z-index: 2;
}

.overlay{
  position: absolute;
  bottom: 0;
  background: rgba(232, 210, 241, 0.89);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.about:hover .overlay {
  opacity: 1;
}

@media (min-width: 600px) {
    .image {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img about-ov"
            "img overlay";
        grid-template-columns: min-content max-content;
    }

/* profile picture */

/*about*/
.skills-bg {
  background-color: var(--clr-dark);
  background-size: cover;
  color: var(--clr-light);
}

.paragraph-about {
  color: #000000;
  justify-content: center;
}

/*about*/

/*contact*/
.nav-contact {
    display: inline;
    padding: 1em 2em;
    min-width: 100%;
    background: var(--clr-ul);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font: var(--ff-primary);
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.nav-li:hover {
  transform: scale(1.1);
}
.nav-ul-contact {
  display: inline-block;
  float:right;
  padding: 0em 0em;
  min-width: 100%;
  color: var(--clr-ul);
  text-decoration: none;
  cursor: pointer;
  font: var(--ff-primary);
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  margin: 0.5em 1em;
  }
/*contact*/

/*footer*/
footer {
  background: var(--clr-dark);
  font-style: var(--fs-secondary);
  text-align: center;
  position: relative;
  margin: 1em 0em auto 0;
}
/*footer*/