
.grid{
  display: grid;
  grid-template-columns: repeat(3 / 1fr);
  grid-template-rows: 200px 200px 200px 100px;
  grid-auto-flow: dense;
}
.about{
  grid-column: 2/-1;
}

.skills{
grid-column: 2 / 3;
}
.interests{
grid-column: 3 / -1;
}
.contact{
  grid-column: 2 / -1;
}
